.cart-header {
  display: grid;
  grid-template-columns: 2fr repeat(3, 3fr) 1fr;
  padding: 22px 0;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  background-color: #EAEFF2;;
}

.cart-header__title {
  grid-column-start: 2;
}