.count {

}

.count__box {

}

.count__input {

}

.count__input::-webkit-inner-spin-button,
.count__input::-webkit-outer-spin-button
{
  appearance: none;
}

.count__controls {

}

.count__up {

}

.count__down {

}